<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top px-5">
    <a class="navbar-brand font-weight-bolder" href="#">IGC</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Login</a>
        </li>
    </ul>
</nav>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <svg class="bi bi-search mb-4" width="30px" height="30px" viewBox="0 0 16 16" fill="#780ac2" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
                <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
            </svg>
            <span class="font-weight-light" style="font-size: 50px">Search</span>
        </div>
    </div>
</div>
<script src='/javascripts/jquery.js'></script>
<script src='/javascripts/popper.js'></script>
<script src='/javascripts/bootstrap.js'></script>
</body>
</html>
