<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top px-5">
    <a class="navbar-brand font-weight-bolder" href="#">IGC</a>
    <ul class="navbar-nav mr-auto">
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#" tabindex="-1" aria-disabled="true">Register</a>
        </li>
    </ul>
</nav>
<div class="card text-white mx-auto" style="max-width: 30rem; margin-top: 50px; background-color: #780ac2;">
    <div class="card-header">Register</div>
    <div class="card-body text-dark bg-white">
        <form action="/regist">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="password2">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2" onkeyup="validate()" required>
            </div>
            <div id="tip"></div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" name="email" required>
            </div>
            <button type="submit" class="btn btn-dark btn-block" id="submit">Sign up</button>
        </form>
    </div>
</div>
<script>
    function validate() {
        var pwd1 = document.getElementById("password").value;
        var pwd2 = document.getElementById("password2").value;
        var tip = document.getElementById("tip");
        var submit = document.getElementById("submit");
        if(pwd1==pwd2){
            tip.innerHTML="<font color='green'>两次密码相同</font>";
            submit.disabled = false;
        }else{
            tip.innerHTML="<font color='red'>两次密码不相同</font>";
            submit.disabled = true;
        }
    }
</script>
<script src='/javascripts/jquery.js'></script>
<script src='/javascripts/popper.js'></script>
<script src='/javascripts/bootstrap.js'></script>
</body>
</html>
